# Copyright (c) 2016 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
#
# For the schema of this file and documentation, see :
# https://luci-config.appspot.com/schemas/services/cros-build-status:view.cfg

title: "ChromiumOS"

view <
  key: "public-paladins"
  value <
    title: "ChromiumOS Paladins"
    section <
      bucket: "master.chromiumos"
      tag: <
        key: "buildset"
        calc: LATEST_PALADIN_BUILD
      >
      title_tag: "cbb_config"
      sort_tag: "cbb_config"
      show_tag: "bot_id"
    >
  >
>
