# Defines buckets on luci-scheduler.appspot.com.
#
# For schema of this file and documentation see ProjectConfig message in
# https://github.com/luci/luci-go/blob/master/scheduler/appengine/messages/config.proto

acl_sets {
  name: "default"
  acls {
    role: READER
    granted_to: "group:googlers"
  }
  acls {
    role: OWNER
    granted_to: "group:project-chromeos-admins"
  }
  acls {
    role: TRIGGERER
    granted_to: "group:mdb/chromeos-build-access"
  }
}

trigger {
  id: "postsubmit-orchestrator-trigger"
  acl_sets: "default"
  schedule: "with 5m interval"
  gitiles: {
    repo: "https://chrome-internal.googlesource.com/chromeos/manifest-internal"
    refs: "refs/heads/snapshot"
  }
  triggers: "postsubmit-orchestrator"
}

job {
  id: "annealing"
  acl_sets: "default"
  schedule: "with 3m interval"
  buildbucket: {
    server: "cr-buildbucket.appspot.com"
    bucket: "luci.chromeos.annealing"
    builder: "Annealing"
  }
}

job {
  id: "postsubmit-orchestrator"
  acl_sets: "default"
  schedule: "triggered"
  buildbucket: {
    server: "cr-buildbucket.appspot.com"
    bucket: "luci.chromeos.postsubmit"
    builder: "postsubmit-orchestrator"
  }
}